* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 添加背景图及样式 */
body {
    background: url("../images/stars.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
}

/* 设置标题样式 */
h1 {
    text-align: center;
    height: 8vh;
    font-size: 48px;
}

/* 设置动画效果 */
@keyframes glow {
    0% {
        text-shadow: 0 0 10px #fff;
    }

    50% {
        text-shadow: 0 0 20px #00ffea;
    }

    100% {
        text-shadow: 0 0 10px #fff;
    }
}

/* 添加动画效果到标题 */
h1 span {
    animation: glow 2s infinite;
}



#list {
    float: left;
    margin-top: 15vh;
    margin-left: 4vw;
    width: 20vw;
    height: 45vh;
    background-color: #6f6868;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 20px;

}

#list h2 {
    text-align: center;
    font-size: 40px;
}

#list h3 {
    font-size: 30px;
}

#list hr {
    border-style: dashed;
    border-color: #00ffea;
}

#list #weizhi #btn1 {
    width: 15vw;
    height: 8vh;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman';
    color: cornflowerblue
}

.game {
    float: left;
    border: 2px solid rgb(98, 197, 128);
    border-radius: 5px;
    margin: 200px 40px;
    width: 20vw;
    height: 8vh;
    text-align: center;
    background: rgba(200, 167, 229, 0.5);

}

.game a {
    color: rgb(112, 247, 247);
    font-size: 35px;
    font-family: 'Times New Roman';
}

#content {
    float: right;
    margin-top: 2vh;
    margin-right: 3vw;
    width: 40vw;
    /* 宽度 */
    height: 80vh;
    /* 高度 */
    border-radius: 20px;
    background-color: #8e6868;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* 添加阴影效果 */
    overflow-y: auto;
    /* 如果内容溢出，则添加滚动条 */
    padding: 20px;
}

#content h2 {
    color: aquamarine;
    font-size: 40px;
}

#content p {
    color: aquamarine;
    font-size: 30px;
}

#content #demo {
    color: red;
}